*{
	margin:0
}


.head{
	height:60px;
	background-color:#eff4fa;
	
}

.head-left{
	height:40px;
	float:left;
	margin-top:10px;
	margin-left:18px;
}

.head-right{
	float:right;
	font-size:14px;
	color:#1d6494;
	margin-right:25px;
	line-height:60px;   
	font-family:"黑体";
}

.head-right span{
	margin-right:5px;
	
}
.head-right a:link{text-decoration:none;}
.head-right a:hover{text-decoration:underline;}

.footer{
	background-color:#eff4fa;
	height:55px;
	line-height:55px;
	text-align:center;
	/*控制在底部中间*/
	position:fixed;
	bottom:0;
	left:0;
	right:0;
	font-size:14px;
}

.footer a:link{text-decoration:none;}
.footer a:hover{text-decoration:underline;}
.footer span{ color:#999; margin-left:3px; margin-right:3px;}

/*中间部分*/
.main{text-align:center;}
.content{
	width:960px;
	height:550px;
	margin-left:200px;
	margin-top:30px;
}
.content-left{
	float:left;
	font-size:14px;
	line-height:35px;
	/* 背景图片放置的位置 */
	width:550px;
	height:450px;
	background-image:url(image/change.png);
	background-repeat:no-repeat;
	background-position:right bottom;
	
	
}
.content-left p{
	text-align:left;
}
.QQ{
	font-size:30px;
	color:#6f95c8;
}

/*中间右边部分*/
.content-right{
	width:340px;
	height:460px;
	float:right;
	border:1px solid #a0b1c4;
}
.div01{
	height:50px;
	border-bottom:1px solid #a0b1c4;
	background-color:#f9fbfe;
}

.div01_left{
	float:left;
	width:170px;
	height:50px;
	line-height:50px;
}
.div01_right{
	float:right;
	line-height:50px;
	width:160px;
}
.div01 a:link{text-decoration:none;color:black;}
.div01 a:hover{text-decoration:underline;} 

.div02{
	height:40px;
	margin-top:30px;
	margin-bottom:15px;
	
}

.div03{
	height:40px;
	margin-bottom:15px;

}
.div04{
	height:60px;
	
}
.inputstyle{
	border:1px solid #a0b1c4;
	width:305px;
	height:40px;
	font-size:14px;
	
}

.div04_left{
	width:140px;
	height:60px;
	float:left;
	margin-left:19px;
	
}
.div04_left input{
	font-size:14px;
	line-height:60px;
	border:1px solid #a0b1c4;
}

.div04_right{
	width:160px;
	float:right;
}

.div05{
	height:20px;
	margin-bottom:30px;
	line-height:30px;
	text-align:right;
	font-size:13px;
}
.div05 a{
	margin-right:20px;
}

.div06{
	margin-left:20px;
	height:20px;
	text-align:left;
	font-size:14px;
	margin-bottom:15px;
}
.div07{
	height:40px;
	margin-bottom:50px;
}
.div07 input{
	height:40px;
	width:300px;
	background-color:#5a98de;
	font-size:20px;
	color:white;
	border:0;
}
.div08{
	height:20px;
	text-align:right;
	font-size:15px;
}
.div08 span{
	margin-right:5px;
}
.div08 a:link{text-decoration:none;}
.div08 a:hover{text-decoration:underline;}




















